body
  font-family sans-serif

.tag-ribbon
  list-style none
  margin 0
  padding 0

.pill-tag
  border-bottom 1px solid #ddd
  color #777
  cursor pointer
  display inline-block
  font-size 14px
  margin 0 16px
  padding 5px 2px
  transition 400ms

  &:hover
    border-bottom 2px solid #777
    color #222

  .fa-tag
    margin-right 6px
