body
  font-family sans-serif

#tag-adder
  border 1px solid #ddd
  display block
  font-size 14px
  margin 40px auto 20px
  padding 8px
  width 434px

  &:focus,
  &:active
    border-color #a3a
    outline 0

.tag-ribbon
  background #f4f4f4
  margin 20px auto
  padding 15px 35px 0 15px
  position relative
  width 400px

.tag-ribbon ul
  list-style none
  margin 0
  padding 0
  transition height 240ms

  &.is-collapsed
    height 45px
    overflow hidden

  &.is-expanded
    height 90px
    overflow-y hidden

.pillbox-toggle
  background #0ad
  border 1px solid #0ad
  border-radius 5px
  bottom 18px
  color #fff
  cursor pointer
  font-size 18px
  line-height 18px
  position absolute
  right 10px

  &:hover
    background lighten(#0ad, 5%)

  &:focus
    outline none

  &:active
    background darken(#0ad, 15%)
    outline none

  &.disabled
    background transparent
    border-color #ccc
    color #ccc

  .fa
    transition 240ms

.pill-tag
  background #fff
  border 1px solid #ddd
  border-radius 15px
  cursor pointer
  display inline-block
  font-size 14px
  line-height 18px
  margin-right 12px
  margin-bottom 15px
  padding 5px 8px
  transition 300ms

  &:hover
    border-color #bada55
    background lighten(#bada55, 95%)

  &.active
    border-color #0ad
    background lighten(#0ad, 95%)

.pill-tag-remove
  background #ccc
  border 0
  border-radius 50%
  color #fff
  cursor pointer
  display inline-block
  font-size 9px
  height 14px
  line-height 14px
  margin-left 8px
  padding 0
  text-align center
  transition 150ms
  vertical-align middle
  width 14px

  &:hover
    background #aaa

  &:focus,
  &:active
    outline none
