body
  font-family sans-serif
  margin 30px auto
  max-width 600px

.pill-tag-list
  list-style none
  margin 20px 0
  padding 0

.pill-tag
  border 1px solid #ddd
  border-radius 15px
  cursor pointer
  display inline-block
  font-size 14px
  margin-right 12px
  padding 5px 8px
  transition 300ms

  &:hover
    border-color #bada55
    background lighten(#bada55, 95%)

  &.active
    border-color #0ad
    background lighten(#0ad, 95%)

.pill-tag-remove
  background #ccc
  border 0
  border-radius 50%
  color #fff
  cursor pointer
  display inline-block
  font-size 9px
  height 14px
  line-height 14px
  margin-left 8px
  padding 0
  text-align center
  transition 150ms
  vertical-align middle
  width 14px

  &:hover
    background #aaa

  &:focus,
  &:active
    outline none

.food-item-list
  border-top 1px solid #ddd
  list-style none
  margin 0
  padding 0

  li
    border 1px solid #ddd
    border-top none
    padding 16px 20px
