body
  font-family sans-serif

.tag-enabled
  border 1px solid #ddd
  border-radius 5px
  cursor pointer
  display inline-block
  font-size 14px
  margin-right 12px
  padding 5px 8px
  transition 300ms

  &:hover
    border-color #0ad
    background lighten(#0ad, 95%)

  button
    background #ccc
    border 0
    border-radius 50%
    color #fff
    cursor pointer
    display inline-block
    font-size 9px
    height 14px
    line-height 14px
    margin-left 8px
    padding 0
    text-align center
    transition 150ms
    vertical-align middle
    width 14px

    &:hover
      background #aaa

    &:focus,
    &:active
      outline none
