body
  font-family sans-serif

.tag-enabled
  border 1px solid #ddd
  border-radius 5px
  cursor pointer
  display inline-block
  font-size 14px
  margin-right 12px
  padding 5px 8px
  transition 300ms

  &:hover
    border-color #0ad
    background lighten(#0ad, 95%)
